In [1]:
# 1. Read the three files into python as dataframes
import pandas as pd
file1=pd.read_csv("files_for_lab/csv_files/file1.csv")
file2=pd.read_csv("files_for_lab/csv_files/file2.csv")
file3=pd.read_csv("files_for_lab/csv_files/file3.csv")

In [2]:
# 2. Show the DataFrame's shape.
print(file1.shape)
print(file2.shape)
print(file3.shape)

(4008, 11)
(996, 11)
(7070, 11)

In [3]:
# 3. Standardize header names.

# renaming columns
file1 = file1.rename(columns={'Customer':'Customer ID','ST':'State','GENDER':'Gender'})
file2 = file2.rename(columns={'Customer':'Customer ID','ST':'State','GENDER':'Gender'})
file3 = file3.rename(columns={'Customer':'Customer ID'})

# Put all columns in lowercase
file1.columns = [col.lower() for col in file1.columns]
file2.columns = [col.lower() for col in file2.columns]
file3.columns = [col.lower() for col in file3.columns]

In [4]:
# 4. Rearrange the columns in the dataframe as needed

# Before reordering - Check if all columns have the same name and in the same order (If output is TRUE, everything is in place!)

file1_cols_sorted=file1.columns.sort_values()
file2_cols_sorted=file2.columns.sort_values()
file3_cols_sorted=file3.columns.sort_values()
file1_cols_sorted.all()==file2_cols_sorted.all() and file2_cols_sorted.all()==file3_cols_sorted.all() and file1_cols_sorted.all()==file3_cols_sorted.all()

True

In [5]:
# 4.(contd.) Rearranging columns to match file1
file2 = file2[file1.columns]
file3 = file3[file1.columns]

In [6]:
# 5. Concatenate the three dataframes

# First, we drop rows in file1 containing NAs in all the columns
file1.dropna(how='all',inplace=True)

In [7]:
# 5. (contd.) Now we check the datatypes of all the columns in file1, file2, file3 for safe concatenation

pd.concat([pd.DataFrame(file1.dtypes,columns=['file1']),pd.DataFrame(file2.dtypes,columns=['file2']),pd.DataFrame(file3.dtypes,columns=['file3'])],axis=1)

                             file1    file2    file3
customer id                 object   object   object
state                       object   object   object
gender                      object   object   object
education                   object   object   object
customer lifetime value     object   object  float64
income                     float64    int64    int64
monthly premium auto       float64    int64    int64
number of open complaints   object   object    int64
policy type                 object   object   object
vehicle class               object   object   object
total claim amount         float64  float64  float64

In [8]:
# 5.a.******OPTIONAL CELLS (The below is not coded as per instructions in lab, but done just for self curiousity)******

# (To save time, you can skip directly to 5.b.)

# ** I understand the column 'Number of Open Complaints' needs to be deleted later, 
# but I found it interesting to convert it to a meaningful form and concatenate it for later analysis.

# Analyse the different values in column 'Number of Open Complaints'
file1['number of open complaints'].value_counts(dropna=False)

1/0/00    830
1/1/00    138
1/2/00     50
1/3/00     34
1/4/00     13
1/5/00      6
Name: number of open complaints, dtype: int64

In [9]:
# Replace number of complaints to standard integer format
file1['number of open complaints'] = file1['number of open complaints'].replace(['1/0/00','1/1/00','1/2/00','1/3/00','1/4/00','1/5/00'],['0','1','2','3','4','5'])

In [10]:
# Observe the changes made above
file1['number of open complaints'].value_counts(dropna=False)

0    830
1    138
2     50
3     34
4     13
5      6
Name: number of open complaints, dtype: int64

In [11]:
# Replacing NAs with 0
file1['number of open complaints'] = file1['number of open complaints'].fillna('0')

In [12]:
# Observe the changes made above after replacing NAs with 0
file1['number of open complaints'].value_counts(dropna=False)

0    830
1    138
2     50
3     34
4     13
5      6
Name: number of open complaints, dtype: int64

In [13]:
# Do the same for 'Number of Open Complaints' column in file2

# Replace number of complaints to standard integer format
file2['number of open complaints'] = file2['number of open complaints'].replace(['1/0/00','1/1/00','1/2/00','1/3/00','1/4/00','1/5/00'],['0','1','2','3','4','5'])
file2['number of open complaints'].value_counts(dropna=False)

0    796
1    109
2     43
3     26
4     16
5      6
Name: number of open complaints, dtype: int64

In [14]:
# Check the values in column 'Number of Open Complaints' for file3
file3['number of open complaints'].value_counts(dropna=False)

0    5629
1     765
2     283
3     230
4     119
5      44
Name: number of open complaints, dtype: int64

In [15]:
file1['number of open complaints'] =  pd.to_numeric(file1['number of open complaints'], errors='coerce')
file2['number of open complaints'] =  pd.to_numeric(file2['number of open complaints'], errors='coerce')

In [16]:
# 5.b. / 9.2 Convert Customer Lifetime Value column type in file1 and file2 to be compatible to file3

# Replace % from customer lifetime value column and convert it to numeric type
file1['customer lifetime value'] = file1['customer lifetime value'].str.replace('%','',regex=True)
file1['customer lifetime value'] =  pd.to_numeric(file1['customer lifetime value'], errors='coerce')
file1['customer lifetime value']=file1['customer lifetime value'].round(2)

# Replace % from customer lifetime value column and convert it to numeric type
file2['customer lifetime value'] = file2['customer lifetime value'].str.replace('%','',regex=True)
file2['customer lifetime value'] =  pd.to_numeric(file2['customer lifetime value'], errors='coerce')
file2['customer lifetime value']=file2['customer lifetime value'].round(2)

file3['customer lifetime value']=file3['customer lifetime value'].round(2)

In [17]:
# 5.c.Now we check the datatypes of all the columns in file1, file2, file3 for safe concatenation

pd.concat([pd.DataFrame(file1.dtypes,columns=['file1']),pd.DataFrame(file2.dtypes,columns=['file2']),pd.DataFrame(file3.dtypes,columns=['file3'])],axis=1)

                             file1    file2    file3
customer id                 object   object   object
state                       object   object   object
gender                      object   object   object
education                   object   object   object
customer lifetime value    float64  float64  float64
income                     float64    int64    int64
monthly premium auto       float64    int64    int64
number of open complaints    int64    int64    int64
policy type                 object   object   object
vehicle class               object   object   object
total claim amount         float64  float64  float64

In [18]:
# 5.d. Now, we finally concatenate the dataframes file1, file2, file3

file=pd.concat([file1,file2,file3],axis=0)

In [19]:
# To answer the questions 6 and 7:

pd.concat([pd.DataFrame(file1.dtypes,columns=['file1']),pd.DataFrame(file2.dtypes,columns=['file2']),pd.DataFrame(file3.dtypes,columns=['file3'])],axis=1)

                             file1    file2    file3
customer id                 object   object   object
state                       object   object   object
gender                      object   object   object
education                   object   object   object
customer lifetime value    float64  float64  float64
income                     float64    int64    int64
monthly premium auto       float64    int64    int64
number of open complaints    int64    int64    int64
policy type                 object   object   object
vehicle class               object   object   object
total claim amount         float64  float64  float64

In [20]:
# 6. Which columns are numerical?

# customer lifetime value, income, monthly premium auto, number of open complaints, total claim amount

In [21]:
# 7. Which columns are categorical?

# state, gender, education, policy type, vehicle class

In [22]:
# 8. Understand the meaning of all columns:

# customer id - uniquely identifies customer
# state - 
# gender
# education
# customer lifetime value - measure of the total income a business can expect to bring in from a typical customer 
# for as long as that person or account remains a client.
# income
# monthly premium auto
# number of open complaints
# policy type
# vehicle class
# total claim amount

# ** all other cols are understood by the name

In [23]:
# 9.1. Delete the column education and the number of open complaints from the dataframe.

file = file.drop(['education','number of open complaints'], axis=1)

In [24]:
# 9.2 Correct the values in the column customer lifetime value. They are given as a percent, so multiply them by 100 and change dtype to numerical type.

# Done already in 5.b.

In [25]:
# 9.3. Check for duplicate rows in the data and remove if any.

file = file.drop_duplicates()
file = file.reset_index(drop=True)

In [26]:
# 9.4 Filter out the data for customers who have an income of 0 or less.

file[file['income']==0]

,customer id,state,gender,customer lifetime value,income,monthly premium auto,policy type,vehicle class,total claim amount
0,RB50392,Washington,NaN,NaN,0.0,1000.0,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,697953.59,0.0,94.0,Personal Auto,Four-Door Car,1131.464935
3,WW63253,California,M,764586.18,0.0,106.0,Corporate Auto,SUV,529.881344
7,CF85061,Arizona,M,721610.03,0.0,101.0,Corporate Auto,Four-Door Car,363.029680
10,SX51350,California,M,473899.20,0.0,67.0,Personal Auto,Four-Door Car,482.400000
...,...,...,...,...,...,...,...,...,...
9123,WZ45103,California,F,5678.05,0.0,76.0,Personal Auto,Four-Door Car,364.800000
9125,RX91025,California,M,19872.26,0.0,185.0,Personal Auto,SUV,1950.725547
9126,AC13887,California,M,4629.00,0.0,67.0,Corporate Auto,Two-Door Car,482.400000
9131,TD14365,California,M,8163.89,0.0,85.0,Corporate Auto,Four-Door Car,790.784983
9133,Y167826,California,M,2611.84,0.0,77.0,Corporate Auto,Two-Door Car,369.600000

In [27]:
# Check remaining NaN for all columns
for column in file.columns:
    print(column," ",file[column].isna().sum())

customer id   0
state   0
gender   122
customer lifetime value   7
income   0
monthly premium auto   0
policy type   0
vehicle class   0
total claim amount   0

In [28]:
# Since there are 6 results containing null values for 'customer lifetime value', we can choose to put a mean value for this column.
file['customer lifetime value'] = file['customer lifetime value'].fillna(file['customer lifetime value'].mean())

In [29]:
# Fill the top most occuring value in gender column for NaN
file['gender'] = file['gender'].fillna(pd.DataFrame(file['gender'].value_counts(dropna=False)).reset_index().iloc[0]['index'])

In [30]:
file.to_csv('lab-customer-analysis-round-1_cleaned.csv', index=False)